<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Log In</h2>
    <form method="post" action="/login">
        <div class="form-input">
            <label for="login">Email</label>
    <input type="text" name="email" class="form-control" required autofocus id="login">
    <label for="login">Password</label>
    <input type="password" name="password" class="form-control" required autofocus id="login">
    
    </div>
    
    <button type="submit" name="button" class="btn btn-primary">Login</button>
    </form>

</body>
</html>